.Home{
  display: grid;
  grid-template-columns: 10% 80% 10%;
}

.Home .middle {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.big-squars {
  min-height: 600px;
  width: 80%;
  border: 1px solid black;
  margin: 25px;
;
}

.big-squars .text {
  display: flex;
  align-items: center;
  height: 100%;
  width: 100%;
  margin: 0px;
  padding: 0px;
}

.big-squars .text h1{
margin: 75px;
width: 70%;
font-family: 'Roboto';
font-style: normal;
font-weight: 600;
font-size: 65px;
line-height: 76px;
}

.big-squars .text h1 span {
  color: white;
  background-color: black;
  padding: 5px;
}

.rigth-font {
  justify-content: right;
}

.rigth-font h1 {
  text-align: right;
}

#speak{
  color: white;
  -webkit-text-stroke: 2px black;
}

.small-squars {
  display: flex;
  justify-content: center;
  align-items: center;
    width: 80%;
    min-height: 200px;
    border: 1px solid black;
    margin: 25px;
}

.small-squars h1{ 
font-family: 'Roboto';
font-style: normal;
font-weight: 600;
font-size: 65px;
line-height: 76px;
text-align: center;
}


.Home .left button {
  width: 170px;
  height: 40px;
  background-color: transparent ;
  border: 1px solid black;
  margin-top: 30px;
}

.Home .left {
  display: flex;
  justify-content: right;
}