  button h3 {
    padding: 0px;
    margin: 10px;
  }

  button {
    padding: 0px;
    margin: 0px;
  }

  .Row1 .column:nth-child(2) {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .Row1 .column:nth-child(1) {
    display: flex;
    justify-content: right;
    align-items: center;
  }
  .Row1 .column:nth-child(3) {
    display: flex;
    justify-content: left;
    align-items: center;
  }


  .image {
    padding: 0px;
    margin: 0px;
  }

.PictoToText {
    display: flex;
    flex-direction: column;
    height: 100vh;
    overflow: hidden;
    background-color: #F7F7F7;
  }

  .Translator {
    margin-top: 10%;
    width: 60%;
    height: 60%;
    display: grid;
    grid-row: 3;
    grid-template-rows: 1fr 5fr 1fr;
    align-self: center;
  }

    .Row1{
      display: grid;
      grid-template-columns: 40% 20% 40%;
      background-color: white;
      border-top: 1px solid #D9D7D7;
      border-left: 1px solid #D9D7D7;
      border-right: 1px solid #D9D7D7;
      border-top-left-radius: 10px;
      border-top-right-radius: 10px;
    }

    .child:nth-child(2) {
      margin-left: auto;
      margin-right: auto;
    }

    

    .Row1 .content {
      width: 100%;
      background-color: rebeccapurple;
      align-items: center;
      justify-content: center;
      display: flex;
    }

    .Row1  button {
      display: flex;
      justify-content: center;
      align-items: center;
      border: 1px solid black;
      border-radius: 6px;
      background-color: transparent;
      
    }

      .image {
        width: 2vw;
      }

    .GridContainer {
      background-color: white;
      display: flex;
      flex-direction: row;
    }
  
      .PictoToText__pictoGrid {
        flex: 1;
        border-top: 1px solid #D9D7D7;
        border-bottom: 1px solid #D9D7D7;
        border-left: 1px solid #D9D7D7;
        border-right: 1px solid #D9D7D7;
      }
      
      .PictoToText__outputGrid {
        flex: 1;
        border-top: 1px solid #D9D7D7;
        border-bottom: 1px solid #D9D7D7;
        border-right: 1px solid #D9D7D7;
      }
    
    .Row3{
      background-color: white;
      flex-direction: row;
      border-bottom: 1px solid #D9D7D7;
      border-left: 1px solid #D9D7D7;
      border-right: 1px solid #D9D7D7;
      border-bottom-left-radius: 10px;
      border-bottom-right-radius: 10px;
    }

    ul {
    
      padding: 20px;
      background-color: white;
      margin-top: 40px;
      list-style: none;
      border-radius: 6px;
      box-shadow: 0 4px 30px #00000026;
      
    }

    li {
      padding: 6px;
      border-radius: 6px;
      margin: 15px;
      font-size: 20px;
      display: flex;
      align-items: center;
      gap: 10px;      
    }

    li:hover {
      background-color: #F6F6F6;
    }

    li img {
      width: 25px;
    }



    li svg {
      visibility: hidden;
    }

    .selected {
      visibility: visible;
      transform-origin: center;
    }

    @keyframes tickAnimation {
      0% {
        transform: scale(0);
        opacity: 0;
      }
      80% {
        transform: scale(1.2);
        opacity: 1;
      }
      100% {
        transform: scale(1);
      }
    }

    .Row3{
      display: flex;
      align-items: center;
      justify-content: center;
    }
    .Row3 button{
      width: 25%;
      height: 50%;
      margin: 5px;
    }


    

